/.idea/*
/elasticsearch/elasticsearch.iml
/mahout/mahout.iml
/mybatis/mybatis.iml
/neo4j/neo4j.iml
/rabbitmq/rabbitmq.iml
/redis/redis.iml
/springboot.iml

/actuator/target/*
/actuator/actuator.iml

/helloworld/target/*
/helloworld/helloworld.iml

/release-getting-started/target/*
/release-getting-started/release-getting-started.iml

/aop/target/*
/aop/aop.iml
